anyio==3.6.2
autopep8==2.0.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
filelock==3.12.0
fsspec==2023.5.0
grpcio==1.54.0
grpcio-tools==1.54.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.0
httpx==0.24.0
huggingface-hub==0.14.1
hyperframe==6.0.1
idna==3.4
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.2
mpmath==1.3.0
networkx==3.1
nltk==3.8.1
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
portalocker==2.7.0
protobuf==4.23.0
pycodestyle==2.10.0
pydantic==1.10.7
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
PyYAML==6.0
qdrant-client==1.1.7
regex==2023.5.5
requests==2.30.0
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
sniffio==1.3.0
sympy==1.11.1
TBB==0.2
threadpoolctl==3.1.0
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.28.1
typing_extensions==4.5.0
urllib3==1.26.15
